body{
    background-color: #F2F5FD!important;
    font-family: "Titillium Web", sans-serif !important;

}

.card-total{
    min-width: 200px;
    height: 10vh;
    border-radius: .5rem;
  background: #fff;
  -webkit-box-shadow: 3px 2px 13px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 13px -4px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 13px -4px rgba(0,0,0,0.75)

}



.bg-ungu{
    background-color: #24244E!important;
}

.aduh{
    display:none;
    position: absolute;
    width:200px;
    top:0;
    left:0;
}



.card-total h1,.card-total h2{
    font-size: 1.5em;
}
.top {
    max-width: 100%;
   
}
.full-a{
    width: 100%!important;
}
.dropdown-menu{
    width: 10px!important;
}
.coba{
    display:none!important;
}

@media (max-width:1160){
    .d-gone{
        display:none!important;
    }
}
@media (max-width:50em){
    .coba{
        display:block!important;
    }
}

/* 
input{
    font-family: "Titillium Web", sans-serif !important;
    margin-bottom: 2rem!important;
    width: 20rem!important;
    outline: 0!important;
    background-color: #fff!important;
    color: black!important;
    } */

   
.box-yellow{
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    width: 10%;
    height: 100%;
    background: #FFA921!important;
}
.box-green{
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    width: 10%;
    height: 100%;
    background: #248749!important;
}
.information{
    width: 100%;
}
#yellow{
    background: #FFA921;
}

table thead tr:first-child  th:first-child
{
    border-top-left-radius: 15px;
}

/* Round Corner for TOP RIGHT COLUMN */

table thead tr:first-child  th:last-child
{
    border-top-right-radius: 15px;
}

/* Round Corner for BOTTOM LEFT COLUMN */

table tbody tr:last-child td:first-child
{
    border-bottom-left-radius: 15px;
}

/* Round Corner for BOTTOM RIGHT COLUMN */

table tbody tr:last-child td:last-child
{
  
    border-bottom-right-radius: 15px;
}

.table{

    
     border-radius: 15px;
    
}
.haha.tes{
    display:flex;
}

.vh-1000{
    min-height: 100vh!important;
}
.table-wrapper{
    border-radius:15px;
    background-color: transparent;
    width: 100%;
    overflow-x:auto;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
   
}



.dt-row{
    margin-bottom:2rem!important;
}
